.cart-product {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.cart-products-card-title {
  font-family: "Sofia Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 50px;
}

.cart-products-card-price {
  font-family: "Sofia Sans", sans-serif;
  font-weight: bold;
  color: #000;
}

.cart-products-card-action-bar {
  display: flex;
  align-items: center;
  gap: 150px;
  margin-bottom: 50px;
}

.cart-products-card-action-bar > button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
